@using Microsoft.AspNetCore.Identity
@using PrivateLibrary.Data
@using PrivateLibrary.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext Context

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей, @User.Identity?.Name!</a>
        </li>
        @if (User?.IsInRole("Reader") ?? false)
        {
            var currentUserId = UserManager.GetUserId(User);
            var reader = Context.Readers.FirstOrDefault(r => r.UserId == currentUserId);
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="TakenBooks" asp-controller="Reader" asp-route-readerId="@reader.Id">Взети книги</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Излизане</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Register" asp-controller="Reader">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Login" asp-controller="Account">Вход</a>
        </li>
    }
</ul>
