html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.disable {
    pointer-events: none;
    cursor: not-allowed;
    filter: grayscale(100%);
}

.pagination-ctr {
    display: flex;
    justify-content: space-between;
}

    .pagination-ctr a {
        text-decoration: none;
    }

.input-field {
    width: 410px;
}
